 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are an energetic folk quintet, performing with energy, improvisation and love.</p>
                    <p>We met met when working on Deafintely Theatre's 2014 production of A Midummer Nights Dream, performed at Shakespeare’s Globe. We accompanied the action (performed in British Sign Language) with a full non-stop live score, to wide acclaim. </p>
                    <p>After a solid month of rehearsing, improvising, laughing, crying (from laughter), creating and collaborating we became very close, and emerged from theatre with a set of beautiful songs, energetic jigs, flamenco flourishes, foot-tapping swing numbers and raucous tango jams. More than that we had discovered a strong musical bond, and passion for playing together which seemed a shame to waste! And so, inspired by the show, Puck was born.</p>
                </div>
            </div>
        </div>
    </section>